// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flex-container{
  display: flex;
}

.left-container{
  margin: 1% 3%;
}

.right-container{
  margin-right: 3%;
  .content{
    text-align: justify;
  };
}

.my-hr{
  margin-top: -10;
}